---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profilePicture from "../assets/profile_picture.avif";
---
<!-- TODO content + photo -->
<Layout pageTitle="About">
  <div class="content">
    <figure>
      <Image src={profilePicture} alt="Pierre Dugast" id="face" />
      <figcaption>Fig 1. It's me!</figcaption>
    </figure>
    <h1>Who ?</h1>
    <p>Hi, I'm Pierre, a freelance web developer based in Paris.</p>
    <p>
      I specialize in building websites and web applications using modern
      technologies like React, Vue, and Astro.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sem arcu.
      Cras id turpis non dui tempus eleifend eu sed arcu. Vivamus eget ex ac sem
      pretium lacinia. Sed lacinia laoreet neque ut accumsan. Cras tincidunt
      lacus vel tristique dapibus. Nunc tincidunt tempor ante, in imperdiet
      sapien mattis eu. Aliquam egestas ipsum non neque vehicula, vel rhoncus
      nulla auctor. Duis ultrices nisi ac tortor finibus tincidunt. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Morbi mattis et ipsum vitae eleifend. Suspendisse tempor malesuada dui, in
      imperdiet sapien convallis ac. Morbi in suscipit arcu, at mollis risus.
      Nullam posuere ultrices elementum.
    </p>
  </div>
</Layout>

<style>


  #face {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 50%;
  }

  figcaption {
    margin-top: 1em;
    font-style: italic;
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
  }
</style>
