---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import svgindex from '../assets/Fast-Internet.svg';

---

<Layout>
	<div id="title">
		<h1>Hi, I'm Pierre</h1>
		<p>Freelance Web Developper</p>
		<button>Let's work together !</button>
	</div>
	<Image src={svgindex} alt="Fast Internet" />
</Layout>
