---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Privacy Policy">
  <div class="privacy flow content" >
    <h1 id="privacy-policy">Privacy Policy</h1>
    <h2 id="this-website-does-not-track-you">
      <strong>This website does not track you!</strong>
    </h2>
    <p>
      No cookies are set on this domain.
    </p>
    <!-- <p>
      This website uses the localStorage API to save some of your preferences, such as your chosen color scheme, across sessions.
    </p> -->
    <p>This website does not collect any analytics data.</p>
    <h2 id="contact-form-submissions">Contact Form Submissions</h2>
    <p>
      The only data collected by this website is the information you provide and submit through the <a href="/contact">contact form</a>.
    </p>
    <p>
      To submit the form, you must agree to have your data processed by <a href="https://www.netlify.com/platform/core/forms/">Netlify Forms</a> and <a href="https://akismet.com/">Akismet</a>.
    </p>
    <p>
      If you wish to request a copy of the data you have submitted via the contact form, or if you would like to request the deletion of any submitted data, please <a href="/contact">contact me</a> through your preferred method, and I will be happy to assist.
    </p>
    <p>
      Alternatively, you can send an email to <a href="mailto:pierredugast@gmail.com">pierredugast@gmail.com</a>, and I will handle your request.
    </p>
  </div>
</Layout>
