---
---

<footer>
    <p>Made by a human, with love, from SOMEWHERE IN AUSTRALIA.</p>

    <p>
        All Rights Reserved.
        Copyright © Matthew Richards 2024.
        This website does not track you.
    </p>

    <p>Licence: CC BY-NC-SA 4.0</p>
    <p>Privacy & GDPR</p>

</footer>